@model Tour
@{ Layout = "_Layout"; ViewBag.Title = "Detalles del Tour";}

<h2 class="text-center">Detalles del Tour </h2>

<div class="container bg-light">
    <div class="row">
        <h1 class="" style="margin-left:auto; margin-right:auto">@Model.Nombre</h1>
    </div>
    <div class="row">
        <img src="@Model.UrlImagen" width="900" height="300" class="rounded" style="margin-left:auto; margin-right:auto" />
    </div>
    <div class="row" style="margin-top: 10px; padding-left:15px; padding-right:15px">
        <h4>Descripción del Tour</h4>
    </div>
    <div class="row" style="padding-left:15px; padding-right:15px">
        <label>@Model.Descripcion</label>
    </div>
    <div class="row" style="margin-top: 10px; padding-left:15px; padding-right:15px">
        <h4>Observaciones</h4>
    </div>
    <div class="row" style="padding-left:15px; padding-right:15px">
        @Html.Raw(@Model.Observaciones)
    </div>
    <div class="row">
        <div class="col-md-6">
            <label><b>Fecha creación: </b>@Model.FechaCreacion</label>
        </div>
        <div class="col-md-6">
            <label><b>Última modificación: </b>@Model.FechaModificacion</label>
        </div>
    </div>
</div>

<div class="text-center panel-body" style="margin-top: 15px">
    <a asp-action="Index" class="btn btn-sm btn-primary">Volver al inicio</a>
</div>